# pycache
__pycache__

# local builds
*.egg-info
dist/

# demo data
demo/data
!demo/data/.gitkeep

# mac stuff
.DS_Store

# notebook stuff
.ipynb_checkpoints

# mypy
.mypy_cache
typings/

# my scrap folder
scrap

# IDE
.vscode
