# pycache
__pycache__

# local builds
*.egg-info
dist/

# mac stuff
.DS_Store

# notebook stuff
.ipynb_checkpoints

# mypy
.mypy_cache
typings/

# my scrap folder
scrap

# IDE
.vscode

# docs
docs/build
docs/data
docs/models

# tests
.coverage

# example data
examples/timeseries_store_sales/store-sales-time-series-forecasting

# mlruns
examples/mlflow/mlruns/
