# pycache
__pycache__

# local builds
*.egg-info
dist/

# example data
examples/data
!examples/data/.gitkeep
!examples/data/titanic_train.csv
!examples/data/house_prices_train.csv
examples/models
!examples/models/.gitkeep

# mac stuff
.DS_Store

# notebook stuff
.ipynb_checkpoints

# mypy
.mypy_cache
typings/

# my scrap folder
scrap

# IDE
.vscode

# docs
docs/build
docs/data
docs/models

# tests
.coverage