-r requirements.txt
black==22.3.0
isort==5.10.1
flake8==4.0.1
pre-commit==2.19.0
setuptools==62.2.0
mypy==0.950
pandas-stubs==1.2.0.58
types-requests==2.27.25
sphinx==4.3.0
myst-parser==0.17.2
furo==2022.4.7
