-r requirements.txt
setuptools==62.2.0
pre-commit==2.19.0

#linting
black==22.3.0
isort==5.10.1
flake8==4.0.1

#typing
mypy==0.950
pandas-stubs==1.2.0.58
types-requests==2.27.25

#docs
pymdown-extensions==9.5
mkdocs==1.2.4
mkdocs-autorefs==0.4.1
mkdocs-git-revision-date-localized-plugin==1.1.0
mkdocs-jupyter==0.21.0
mkdocs-material==8.2.7
mkdocs-material-extensions==1.0.3
mkdocstrings==0.19.0
mkdocstrings-python==0.7.1

#tests
pytest==7.1.2
pytest-cov==3.0.0
